.env
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
eggs-info/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
*.egg-info/
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a build process
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.log

# Translations
*.mo
*.po

# Django stuff:
*.log
local_settings.py
db.sqlite3
# Uncomment if you have a local database file
# .env

# Flask stuff:
instance/
.env
.venv

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# Pyre type checker
.pyre/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pytype
.pytype/

# VS Code
.vscode/

# IDEs and editors
.idea/
*.sublime-workspace
*.sublime-project

# MacOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini
